#! /usr/bin/env bash

# this script detects when its contents have been modified (presumably by a
# reconfiguration via ansible), and will reconfigure the running girder instance
# if its current version has changed from the most recent one.
initialization_path="girder_init/$( cat "$0" | shasum | cut -d\  -f 1 )"

cd "$( dirname "$0" )"

export LD_RUN_PATH="/usr/lib32:$LD_RUN_PATH"
export LD_LIBRARY_PATH="/usr/lib32:$LD_LIBRARY_PATH"

source scripts/env
export NVM_DIR=/opt/nvm
source /opt/nvm/nvm.sh
nvm use v6

export NODE_ENV=production
pushd girder
pip install -e '.[plugins]'
girder-install plugin -f ../osumo
girder-install web
girder-server &
popd

if [ '!' -d "$initialization_path" ] ; then
    rm -rf "girder_init"
    mkdir -p "$initialization_path"
    sleep 60
    export PYTHONPATH=/opt/osumo-project/girder

    anonloginfile='osumo/osumo_anonlogin.txt'
    if [ '!' -f "$anonloginfile" ] ; then
        echo "{{ public_name }}" > "$anonloginfile"
    fi

    python girder-post-install.py                                                    \
        --host localhost                                                             \
        --port 8080                                                                  \
        --admin "{{ admin_name }}:{{ admin_pass }}"                                  \
        --broker "amqp://guest@{{ hostvars[groups['queue'][0]]['aws_private_ip'] }}" \
        --s3 "{{ s3_bucket }}"                                                       \
        --aws-key-id "{{ aws_access_key_id }}"                                       \
        --aws-secret-key "{{ aws_secret_access_key }}"
fi

pushd girder
girder-install web
girder-install web --plugins osumo --plugin-prefix index
popd

wait

