#! /usr/bin/env bash

# this script detects when its contents have been modified (presumably by a
# reconfiguration via ansible), and will reconfigure the running girder instance
# if its current version has changed from the most recent one.
initialization_path="worker_init/$( cat "$0" | shasum | cut -d\  -f 1 )"

cd "$( dirname "$0" )"

source scripts/env
export NVM_DIR=/opt/nvm
source /opt/nvm/nvm.sh
nvm use v6

rsync -avz ./sumo_io ./girder_worker/girder_worker/plugins
pushd girder_worker
pip install -e '.'
girder-worker &

if [ '!' -d "$initialization_path" ] ; then
    rm -rf "worker_init"
    mkdir -p "$initialization_path"
    sleep 60
    export PYTHONPATH=/opt/osumo-project/girder
fi

popd

wait

