#! /usr/bin/env bash

# this script detects when its contents have been modified (presumably by a
# reconfiguration via ansible), and will reconfigure the running girder instance
# if its current version has changed from the most recent one.
initialization_path="worker_init/$( cat "$0" | shasum | cut -d\  -f 1 )"

cd "$( dirname "$0" )"

source scripts/env
export NVM_DIR=/opt/nvm
source /opt/nvm/nvm.sh
nvm use v6

pushd girder_worker
pip install -e '.'
rsync -avz --exclude .git ../sumo_io ./girder_worker/plugins
exec girder-worker
